*{
    margin: 0 auto;
}
.japan {
    width: 50%;
    height: 60vh;
    border: 2px solid rgb(0, 0, 0);
    background: radial-gradient(circle, #bc002d 70px, #fff 60px);
}
h1{
    text-align: center;
    margin:10px;
}