body{background-color: rgba(0, 183, 255, 0.486);
font-size:20px ;
font-family: 'Montserrat', sans-serif;
}
img{width: 30%;
height: 400px;}
p{color:navy;
text-align: center;}
a{text-decoration:none;}
.phone{color: mediumslateblue;}
h1{color: aliceblue;}