body{background-color: rgb(56, 117, 247);
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
}
.start{color: darkgray;
    text-align: center;
}
.dota{
    text-align:left;
}
img{width: 20%;
height: 400px;}
a{text-decoration:none;
color:darkgray;}
.table{color: darkgray;}